body{
    background-color: #000000;
    color: rgb(240, 44, 44);
    font-family: 'Sora', sans-serif;
}


.whole{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    border: 1px solid red;
    height: 50vh;
    padding: 5%;
}

.space{
    width: 10vw;
    height: 20vh;
}

.time{
    margin-top:20%;
}

.button{
    margin-top: 65%;
}

h2{
    font-size: 2.5em;
}

button{
    color: red;
    padding: 2%;
    font-size: 1.5em;
    background: transparent;
    border: 1px solid red;
    cursor: pointer;
    font-family: 'Sora', sans-serif;
    width: 6vw;
}

